{{#if hasBlock}}
  {{yield (hash
    field=(component 'labelled-input/field'
           placeholder=placeholder
           class="labelled-input__input"
           hasError=(if (get changeset.error key) true)
           value=(get changeset key)
           input=(action onInput key (get changeset key))
           id=(concat elementId '-input'))

    label=(component 'labelled-input/label' label for=(concat elementId '-input'))
  )}}
{{else}}
  {{labelled-input/label label for=(concat elementId '-input')}}

  {{labelled-input/field
    class="labelled-input__input"
    hasError=(if (get changeset.error key) true)
    value=(get changeset key)
    input=(action onInput key (get changeset key))
    placeholder=placeholder
    id=(concat elementId '-input')}}
{{/if}}

{{#if (get changeset.error key)}}
  <ul class="labelled-input__errors">
    {{#each (get (get changeset.error key) 'validation') as |message|}}
    <li>
      {{message}}
    </li>
    {{/each}}
  </ul>
{{/if}}
