{{#module-embed validations=CTAValidations as |embed|}}
  {{#embed.header as |header|}}
    {{#header.title}}<a name="cta">Call-to-Action Tool</a>{{/header.title}}

    {{#header.blurb}}
      Contains a headline, a short blurb, and an optional call-to-action button. Use this to encourage users to take a survey, join a Facebook group, post with a particular hashtag, etc.
    {{/header.blurb}}
  {{/embed.header}}

  {{#embed.column as |expand|}}
    <span class="iframe-label">Preview</span>
    {{embed.iframe src=model.embeds.callToAction name="call-to-action" expand=expand}}
  {{/embed.column}}

  {{#embed.column}}
    {{embed.dropdown key='brand' changeset=embed.changeset options=model.themes}}

    {{embed.input key='headline' changeset=embed.changeset}}

    {{#embed.input key='summary' changeset=embed.changeset as |input|}}
      {{input.label 'Short Blurb'}}
      {{input.field}}
    {{/embed.input}}

    {{#embed.input key='callToAction' changeset=embed.changeset as |input|}}
      {{#input.label}}
        Button text (if left blank, no button will appear)
      {{/input.label}}
      {{input.field}}
    {{/embed.input}}

    {{#embed.input key='url' changeset=embed.changeset as |input|}}
      {{#input.label}}
        URL for the button
      {{/input.label}}
      {{input.field placeholder="http://website.com"}}
    {{/embed.input}}

    {{embed.generateButton}}

  {{/embed.column}}
{{/module-embed}}

<hr />

{{#module-embed validations=NewsletterValidations as |embed|}}
  {{#embed.header as |header|}}
    {{#header.title}}<a name="newsletter">Newsletter Sign-up Tool</a>{{/header.title}}
    {{#header.blurb}}
      An easy way to quickly let users sign up for a mailing list.
    {{/header.blurb}}
  {{/embed.header}}

  {{#embed.column as |expand|}}
    {{embed.iframe src=model.embeds.newsletterSignup name="newsletter-signup" expand=expand}}
  {{/embed.column}}

  {{#embed.column}}
    {{embed.dropdown 'brand' changeset=embed.changeset options=model.themes}}
    {{embed.input 'headline' 'Headline' changeset=embed.changeset}}
    {{embed.dropdown 'mailchimpId' 'Mailchimp List' changeset=embed.changeset options=model.mailchimpLists searchEnabled=true placeholder='---'}}

    {{embed.generateButton}}
  {{/embed.column}}
{{/module-embed}}

<hr />

{{#module-embed as |embed|}}
  {{#embed.header as |header|}}
    {{#header.title}}<a name="playlist">Playlist</a>{{/header.title}}
    {{#header.blurb}}
      Make a playlist.
    {{/header.blurb}}
  {{/embed.header}}

  {{#embed.column as |expand|}}
    {{embed.iframe src=model.embeds.playlist name="playlist" expand=expand}}
  {{/embed.column}}

  {{#embed.column}}
    {{embed.input 'title' 'Playlist Title (max 45 characters)' changeset=embed.changeset}}
    {{embed.input 'blurb' 'Short blurb (optional, max 110 characters)' changeset=embed.changeset}}

    {{#embed.list inputs=2 changeset=embed.changeset key='stories' as |list|}}
      {{#list.inputs as |inputs|}}
        {{inputs.input label='Story URL' transform=(action 'transformStoryURLs')}}
      {{/list.inputs}}

      {{list.add '+ Add more audio to the playlist'}}
    {{/embed.list}}

    {{embed.generateButton}}
  {{/embed.column}}
{{/module-embed}}
