<div class="l-page">
  {{#module-embed as |iframe postMessage|}}
    {{component iframe height="300" src=model.callToAction name="call-to-action"}}
    
    <div class="module-embed__column">
      <p>
        headline:
        {{input value=headline input=(action postMessage 'headline' headline)}}
      </p>
      <p>
        summary:
        {{input value=summary input=(action postMessage 'summary' summary)}}
      </p>
      <p>
        Call To Action:
        {{input value=callToAction input=(action postMessage 'callToAction' callToAction)}}
      </p>
      <p>
        Link Out URL:
        {{input value=url input=(action postMessage 'url' url)}}
      </p>
    </div>
  {{/module-embed}}
</div>
