<div class="l-page">
  
  {{#module-embed as |embed|}}
    {{#embed.header as |header|}}
      {{#header.title}}Call-to-Action Tool{{/header.title}}
      
      {{#header.blurb}}
        Contains a headline, a short blurb, and an optional call-to-action button. Use this to encourage users to take a survey, join a Facebook group, post with a particular hashtag, etc.
      {{/header.blurb}}
    {{/embed.header}}
    {{#embed.column as |expand|}}
      <span class="iframe-label">Preview</span>
      {{embed.iframe src=model.callToAction name="call-to-action" expand=expand}}
    {{/embed.column}}
    
    {{#embed.column}}
      {{labelled-input key='headline' onInput=embed.sendMessage}}
      
      {{#labelled-input key='summary' onInput=embed.sendMessage as |input|}}
        Short blurb
        {{input.field}}
      {{/labelled-input}}
      
      {{#labelled-input key='callToAction' onInput=embed.sendMessage as |input|}}
        Button text (If left blank, no button will appear) 
        {{input.field}}
      {{/labelled-input}}
      
      {{#labelled-input key='url' onInput=embed.sendMessage as |input|}}
        URL for the button 
        {{input.field placeholder="http://website.com"}}
      {{/labelled-input}}
      
      {{embed.generateButton}}
      
    {{/embed.column}}
  {{/module-embed}}
  
  <hr />
  
  {{#module-embed as |embed|}}
    {{#embed.header as |header|}}
      {{#header.title}}Newsletter Sign-up Tool{{/header.title}}
      {{#header.blurb}}
        An easy way to quickly let users sign up for a mailing list. 
      {{/header.blurb}}
    {{/embed.header}}
    
    {{#embed.column as |expand|}}
      {{embed.iframe src=model.newsletterSignup name="newsletter-signup" expand=expand}}
    {{/embed.column}}
    
    {{#embed.column}}
      {{labelled-input key='mailchimpId' onInput=embed.sendMessage}}
      
      {{embed.generateButton}}
    {{/embed.column}}
  {{/module-embed}}
</div>
