<div class="l-page">
  <div class="l-header">
    <h2>Highlighted Call-Out with CTA</h2>
  </div>
  {{#module-embed as |iframe postMessage|}}
    <div class="module-embed__column">
      {{component iframe src=model.callToAction name="call-to-action"}}
    </div>
    
    <div class="module-embed__column">
      {{labelled-input key='headline' onInput=postMessage}}
      {{labelled-input key='summary' onInput=postMessage}}
      {{labelled-input key='callToAction' onInput=postMessage}}
      {{labelled-input key='url' onInput=postMessage}}
    </div>
  {{/module-embed}}
</div>
