{{md-text html=true text="
# Tools

When trying to find the right tool, it’s helpful to think about what you want to accomplish with a tool. I want to...
"}}

<ul>
  <li>
    {{scroll-to
      label="Gather info, data, or stories from listeners"
      href="#gather"
      offset=-100
    }}
  </li>
  <li>
    {{scroll-to
      label="Display content I’ve received from listeners"
      href="#display"
      offset=-100
    }}
  </li>
  <li>
    {{scroll-to
      label="Create a community around listeners"
      href="#create"
      offset=-100
    }}
  </li>
  <li>
    {{scroll-to
      label="Engage in real-time with listeners"
      href="#engage"
      offset=-100
    }}
  </li>
  <li>
    {{scroll-to
      label="Keep listeners reminded or up-to-date"
      href="#remind"
      offset=-100
    }}
  </li>
</ul>

{{md-text html=true text="
## <a name=\"gather\">Gather info, data, or stories from listeners</a>

### Text-Message Tools

*Upland Mobile Messaging (previously “Mobile Commons”)*

Examples in use: Note to Self’s Ghosted project reminders, Radiolab Eclipse engagement reminders, Death Sex & Money’s Class project poll. Projects were scheduled and set up to to provide reminders about user assignments and get user feedback. Podcasts also periodically do membership call-outs asking listeners to text a number for the link to the donation form).

To set up a text messaging campaign, reach out to [Michael Chaplin](mailto:mchaplin@nypublicradio.org).

### Form-Based Tools

*Typeform*

Create simple quizzes or complex, customizable quizzes that adjust based on the user’s response. When the user has submitted their email, customized follow-up emails can be sent to the user.

Examples in use: Death, Sex & Money’s [Student Loan Project](https://project.wnyc.org/death-sex-money-podcast-student-loans). Kids shows [feedback survey](https://wnyc.typeform.com/to/hW9YuB).

Questions best practices:
* Ask your users for the engagement piece first, especially if it’s a higher barrier to entry ask than simple text.
* Always include email as a question on your Typeform. Try to always make this question required.
* When asking for user emails make sure to include the following language in the description:
  * We will only use your email in accordance with WNYC's Privacy Policy: wnyc.org/privacy.
  * We will only use your email in accordance with WQXR’s Privacy Policy: wqxr.org/privacy.
  * We will only use your email in accordance with New Sounds’ Privacy Policy: newsounds.org/privacy.
  * We will only use your email in accordance with WNYC Studios’ Privacy Policy: wnycstudios.org/privacy.
* When asking a user gender please word the question as such:
  * Which best represents your gender?
  * Female
  * Male
  * Transgender
  * Gender non-conforming
  * Prefer not to say

For access to Typeform, email [digitalops@wnyc.org](mailto:digitalops@wnyc.org).

*Qzzr*

An alternative to Typeform for creating quizzes is Qzzr.
Examples: [How to Change a Law story with quiz](https://www.wnyc.org/story/quiz-how-change-law/).

For access to Qzzr, email [digitalops@wnyc.org](mailto:digitalops@wnyc.org).


### Audio-Based Tools

*Audio Capture Crowdsourcing tool*

An internal tool which allows us to collect audio recordings from member of your audience from either a desktop computer or mobile device. The user can record themselves telling a story, asking a question, or giving feedback. Or, you can provide them with a script that they can record themselves reading.
Note: there are some technical limitations around which browsers/operating systems this tool will work in.
Example: Radiolab’s [Read Our Credits](https://apps.nypr.org/crowdsourcing/5) asks listeners to record themselves reading the show’s credits.

For access to the Audio Capture Crowdsourcing tool, email [digitalops@wnyc.org](mailto:digitalops@wnyc.org).


*NYPR Digital Inbox*

Digital can set up a forwarding address that allows users to send voice memos or text emails to a “marketing friendly” email (e.g. hello@deathsexmoney.org) if NYPR owns a vanity domain. The content of which gets forwarded to an easy to review spreadsheet for easy to moderation and producer review.  Please allow for 2-3 business days from request to implementation.

For access to an NYPR Digital Inbox, email [digitalops@wnyc.org](mailto:digitalops@wnyc.org).

## <a name=\"display\">Display content I’ve received from listeners -- COMING SOON</a>

We are currently looking into a few external tools to display user submitted content that we’ve received.


## <a name=\"create\">Create a community around listeners</a>

### Social Media

*#Hashtags*

Work with the Social Media / Marketing team to suggest a #hashtag around which your listeners can post. Use our call-out tool to embed a call-out on the site, encouraging people to use the hashtag.

*Facebook groups*

If you are interested in starting a Facebook Group around a project, reach out to the social media lead for your department:

* Director of Social Media -- [Mandy Naglich](mailto:mnaglich@nypublicradio.org)
* WNYC Newsroom -- [Diane Jeanty](mailto:djeanty@nypublicradio.org)
* WNYC Studios -- [Caroline English](mailto:cenglish@nypublicradio.org)
* WQXR / New Sounds -- [Kim Nowacki](mailto:knowacki@nypublicradio.org)

### Email

*Mailchimp Newsletters*

Creating a mailing list is an easy way to stay in communication with your audience. You can create mailing lists for a variety of content, from daily news lists to updates on special projects. Mailchimp allows for newsletter sign-ups, email automation, and auto-responders.

To start the newsletter development process, put in a [creative request](http://www.wnyc.org/creativerequests/) with Marketing.
To build on top of an existing newsletter through automated emails or auto responders, email [digitalops@wnyc.org](mailto:digitalops@wnyc.org).

## <a name=\"remind\">Keep listeners reminded or up-to-date</a>

### Email

*Mailchimp Newsletters*

Creating a mailing list is an easy way to stay in communication with your audience. You can create mailing lists for a variety of content, from daily news lists to updates on special projects. Mailchimp allows for newsletter sign-ups, email automation, and auto-responders.

To start the newsletter development process, put in a [creative request](http://www.wnyc.org/creativerequests/) with Marketing.
To build on top of an existing newsletter through automated emails or auto responders, email [digitalops@wnyc.org](mailto:digitalops@wnyc.org).

### Notifications

*Urban Airship*

Through Urban Airship, we can notify our mobile app users about important content. This can be used for live on-air content or on-demand content.

To send a notification to our app users, reach out to [Lee Hill](mailto:lhill@wnyc.org) for WNYC and [Kim Nowacki](mailto:knowacki@wqxr.org) for WQXR.


"}}
