{{md-text html=true text="
# Tools

When trying to find the right tool, it’s helpful to think about what you want to accomplish with a tool. I want to...
"}}

<ul>
  <li>
    {{scroll-to
      label="Gather info, data, or stories from listeners"
      href="#gather"
      offset=-100
    }}
  </li>
  <li>
    {{scroll-to
      label="Create a community around listeners"
      href="#create"
      offset=-100
    }}
  </li>
  <li>
    {{scroll-to
      label="Engage in real-time with listeners"
      href="#engage"
      offset=-100
    }}
  </li>
  <li>
    {{scroll-to
      label="Keep listeners engaged or up-to-date"
      href="#remind"
      offset=-100
    }}
  </li>
</ul>

{{md-text html=true text="
## <a name=\"gather\">Gather info, data, or stories from listeners</a>

### Text Message Tools

*Upland Mobile Messaging (aka “Mobile Commons”)*
Text messages are a common, easy-to-use interaction for listeners. Text message campaigns are an effective way to reach your listeners motivate them to take action. You can send informative text messages, conduct quick polls, and schedule reminders.

Examples in use: Note to Self’s Ghosted project reminders, Radiolab Eclipse engagement reminders, Death Sex & Money’s Class project poll. Projects were scheduled and set up to to provide reminders about user assignments and get user feedback. Podcasts also periodically do membership call-outs asking listeners to text a number for the link to the donation form.

To set up a text messaging campaign, reach out to [Michael Chaplin](mailto:mchaplin@nypublicradio.org).


### Form-Based Tools

*Typeform*

Create branded surveys or quizzes, simple or complex, that can provide bespoke outcomes base don the user's response. When the user has submitted their email, customized follow-up emails can be sent to the user.

Examples in use: Death, Sex & Money’s [Student Loan Project](https://project.wnyc.org/death-sex-money-podcast-student-loans). Kids shows [feedback survey](https://wnyc.typeform.com/to/hW9YuB).

Questions best practices:
* Ask your users for the engagement piece first, especially if it’s a higher barrier to entry ask than simple text.
* Always include email as a question on your Typeform. Try to always make this question required.
* When asking for user emails make sure to include the following language in the description:
  * We will only use your email in accordance with WNYC's Privacy Policy: wnyc.org/privacy.
  * We will only use your email in accordance with WQXR’s Privacy Policy: wqxr.org/privacy.
  * We will only use your email in accordance with New Sounds’ Privacy Policy: newsounds.org/privacy.
  * We will only use your email in accordance with WNYC Studios’ Privacy Policy: wnycstudios.org/privacy.
* When asking a user gender please word the question as such:
  * Which best represents your gender?
  * Female
  * Male
  * Transgender
  * Gender non-conforming
  * Prefer not to say

For access to Typeform, email [digitalops@wnyc.org](mailto:digitalops@wnyc.org).

*Qzzr*

An alternative to Typeform for creating quizzes is Qzzr.
Examples: [How to Change a Law story with quiz](https://www.wnyc.org/story/quiz-how-change-law/).

For access to Qzzr, email [digitalops@wnyc.org](mailto:digitalops@wnyc.org).


### Audio-Based Tools

*Audio Capture Crowdsourcing tool*

An browser-based tool created by New York Public Radio to support audience submission of audio recordings from either a desktop computer or mobile device. The user can record themselves telling a story, asking a question, or giving feedback. Or, you can provide them with a script that they can record themselves reading.

Note: there are currently some technical limitations around which browsers/operating systems this tool will work in.

Example: Radiolab’s [Read Our Credits](https://apps.nypr.org/crowdsourcing/5) asks listeners to record themselves reading the show’s credits.

For access to the Audio Capture Crowdsourcing tool, email [digitalops@wnyc.org](mailto:digitalops@wnyc.org).


*NYPR Digital Inbox*

A project-based “marketing friendly” email address (e.g. hello@deathsexmoney.org) and workflow that allows teams to collect and easily manage text emails and voice memos from listeners. Listener contact details, the content of their message and any attachments are forwarded to an easy to review spreadsheet for easy to moderation and producer review.  Please allow for 2-3 business days from request to implementation.

For access to an NYPR Digital Inbox, email [digitalops@wnyc.org](mailto:digitalops@wnyc.org).

### Highlighting your engagement 

The Embeddable Engagment Callout enables WNYC Studios shows to highlight their engagement project at the top of the episode list on their shows homepage. Because this displays at the top of the episodes list, it is the first thing that listners will see when they visit a show's site. 

This callout can contain any of the tools from the [toolkit](https://apps.nypr.org/toolkit/create) - a CTA, newsletter callout, or playlist. 

See [this example](https://wnycstudios.demo2.wnyc.net/shows/nancy) on demo. 


## <a name=\"create\">Create a community around listeners</a>

### Social Media

*#Hashtags*

Work with the Social Media / Marketing team to suggest a #hashtag around which your listeners can post. Use our call-out tool to embed a call-out on the site, encouraging people to use the hashtag.

*Facebook groups*

If you are interested in starting a Facebook Group around a project, reach out to the social media lead for your department:

* WNYC Newsroom -- [Diane Jeanty](mailto:djeanty@nypublicradio.org)
* WNYC Studios -- [Caroline English](mailto:cenglish@nypublicradio.org)
* WQXR / New Sounds -- [Kim Nowacki](mailto:knowacki@nypublicradio.org)

### Email

*Mailchimp Newsletters*

Creating a mailing list is an easy way to connect with your audience. You can create mailing lists for a variety of content, from daily news lists to updates on special projects. With Mailchimp we can set up newsletter sign-up forms, automated email series for projects, and auto-responders.

To start the newsletter development process, put in a [creative request](http://www.wnyc.org/creativerequests/) with Marketing.
To build on top of an existing newsletter through automated emails or auto responders, email [digitalops@wnyc.org](mailto:digitalops@wnyc.org).

## <a name=\"remind\">Keep listeners reminded or up-to-date</a>

### Email

*Mailchimp Newsletters*

Creating a mailing list is an easy way to connect with your audience. You can create mailing lists for a variety of content, from daily news lists to updates on special projects. With Mailchimp we can set up newsletter sign-up forms, automated email series for projects, and auto-responders.

To start the newsletter development process, put in a [creative request](http://www.wnyc.org/creativerequests/) with Marketing.
To build on top of an existing newsletter through automated emails or auto responders, email [digitalops@wnyc.org](mailto:digitalops@wnyc.org).

### Notifications

*Urban Airship*

Through Urban Airship, we can notify our mobile app users about important content. This can be used for live on-air content or on-demand content.

To send a notification to our app users, reach out to [James Ramsay](mailto:jramsay@wnyc.org) for WNYC and [Eliza Grace Martin](mailto:emartin@wqxr.org) for WQXR.


"}}
